/*Project requirements: 
1. Document at least one HTML or CSS topic. 
2. Display it in tables. 
*3. Use a custom color scheme. 
*4. Use custom styles for code snippet-type things with monospace font and background color.*/

body {
	font-family: Verdana;
	text-align: left;
	display: block;
	padding: 3%;
	background-color: #f5f5f5;
}

h1 {
	color: #4b0082;
	text-align: center;
}

h2 {
	padding-top: 2%;
	padding-left: 2%;
	color: #483d8b;
}

table {
	margin: 0 auto;
	/*border: 1px solid #000;*/
	width: 85%;
}

th {
	background-color: #789;
}

td {
	border-bottom: 1px solid #789;
	text-align: left;
}

.code {
	font-family: "Courier New";
	color: aqua;
	background-color: #2f4f4f;
	text-align: center;
}